*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body{
    background-color: aqua;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    
   
}


.container{
    background-color:slateblue;
    /* height: 680px; */
    padding: 20px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.container .box{
    width: 150px;
    height: 150px;
    border: 20px groove green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .box h1,.container .img-box h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: yellow;
}
.container .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .img-box img{
    width: 400px;
    border-radius: 20px;
}

